<tr>
  <td class="date"><div class="month"><%= @new_show.play_at.month -%></div><div class="day"><%= @new_show.play_at.day -%></div></td>
  <td>
    <strong>St. Patty's Day Show (Singing songs about booze and violence)</strong>
    <a href="#"><%= @new_show.venue -%></a> at <%= @new_show.play_at.hour -%>
  </td>
</tr>

