<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  
  <title>the Birdhive Boys</title>

  <link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" />


  <link href="http://www.jplayer.org/latest/skin/jplayer.blue.monday.css" rel="stylesheet" type="text/css" /> 
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> 
  <script type="text/javascript" src="/javascripts/jplayer/jquery.jplayer.js"></script> 
  
  <script type="text/javascript" src="/javascripts/application.js"></script>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="main">
    <%= yield %>
    <br style="clear: both;"/>
  </div>
</body>
</html>

